.d1{
    background-color: #5894DA;

}

.d2{
    background-color: #B2D5FC;

}

.d3{
    background-color: #F4CE8D;

}

.d4{
    background-color: #C8C5FA;

}

.d5{
    background-color: #EF999B;

}

.d6{
    background-color:#D6E8FD ;

}

.d7{
    background-color: ;
    
}